# Environment Variables

# Database URL
DATABASE_URL="postgresql://neondb_owner:npg_oBGtxW2jd1PA@ep-icy-dream-apfzf266-pooler.c-7.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"

# JWT Secret
JWT_SECRET="SVKg/92r5G8v39/xn2iVawJlbLUxCKcRT6CHTOxXLMo="

# Next.js API URL
NEXT_PUBLIC_API_URL="http://localhost:3000"
